#ignore OS generated logs

php_error_log
error_log
success_log
access_log

# ignore Editor files
*.sublime-project
*.sublime-workspace
*.komodoproject

# ignore log files and databases
*.log
#*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.swp
*.lnk

#ignore favico.ico
favico.ico

#ignore wordpress upload folder
/wp-content/uploads
/wp-content/upload
/wp-content/images
/wp-content/image
/wp-content/plugins/download-manager/cache
/wp-content/plugins/wordfence/tmp
/wp-content/plugins/wordfence/tmp/configCache.php
/wp-content/wflogs/config.php
/wp-content/exports
/wp-content/ewww
/wp-content/cache
/wp-content/cache/blogs
/wp-content/wflogs
/wp-content/wp-cache-config.php
/wp-content/updraft/
/wp-content/wfcache/


#ignore wordpress wp-config.php
wp-config.php

#ignore .htaccess
.htaccess
.DS_Store

# ignore node/grunt dependency directories
node_modules/

db-connect-test.php

#Live server phpmyadmin link node
phpmyadmin
