
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rtlcbsasia/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rtlcbsasia/index.php [L]
</IfModule>

php_value upload_max_filesize 1000M
php_value post_max_size 1000M

# END WordPress
