@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);


#icon-wpeden{
    background: url(../images/only-logo-icon.png) center center no-repeat;
}

.wpeden-theme-options.w3eden .container-fluid{
    padding: 0 !important;
}

.wpeden-theme-options.w3eden .panel-heading a{
    color: #33B0DF;
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none;
    display: block;
}
.wpeden-theme-options.w3eden .panel-heading{
    color: #33B0DF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10pt;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
    font-family: Montserrat;
}
.wpeden-theme-options.w3eden h3{
    font-size: 12pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    line-height: 30px;
    color: #33B0DF;
    border-bottom: 1px solid #ddd;
}
.wpeden-theme-options.w3eden .tab-content{
    overflow: visible !important;
}

.wpeden-icon{
    background: url(../images/only-logo-icon-hd.png) left top no-repeat; 
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 0;

}

.wpeden-theme-options *{
    font-family: 'Open Sans';
}
.icon {
    font-family: 'FontAwesome' !important;
}

.wpeden-theme-options form{
    margin: 0 !important;
}


.wpeden-theme-options {
    max-width: 980px;
    margin: 50px;
    background: #2E363F;
    border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.wpeden-theme-options .theader h2{
    color: #ffffff;
    padding: 10px;
}
.wpeden-theme-options .theader{
    background: rgba(34, 184, 240, 0.9);
    z-index: 9;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.wpeden-theme-options .container-fluid{
   margin: 0;
    padding: 0;
}

.wpeden-theme-options .thm_heading{
    font-size: 13pt;
    color: #222222;
    font-family: 'Montserrat';
    font-weight: 700;
    text-shadow: none;
    margin: 0;
}

.wpeden-theme-options .nav-tabs{
    background: transparent;
    padding: 0;
    /*margin-top: 70px !important;*/
    border: 0;
}

.left-sidebar{
    width: 200px;
    margin-top: 55px !important;
}
 
.nav-tabs-vertical li{
    float: none;
    display: block;
    width: 100%;
}

.nav-tabs-vertical li.active::after {
    background: none repeat scroll 0 0 #fafafa;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.02);
    content: "";
    height: 15px;
    margin-right: -8px;
    margin-top: -26px;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    width: 15px;
}

.wpeden-theme-options .tab-content{
    overflow: visible;
    margin-left: 200px;
    padding-top: 80px;
    margin-top: -55px;
    min-height: 600px;
    padding-right: 40px;
    padding-bottom: 30px;
    background: #fafafa;
    border-bottom-right-radius: 4px !important;
    box-shadow: -3px 0px 4px rgba(0,0,0,0.1);

}

.nav-tabs a{
    box-shadow: none !important;
}
.nav-tabs li,
.nav-tabs li a{
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 9pt;
    /*text-transform: uppercase;*/
    letter-spacing: 0.5px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;

}
.tab-content .tab-pane{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.nav-tabs li{
    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

.wpeden-theme-options .thm_heading{
    background: transparent;
}

.nav-tabs li:hover,
.nav-tabs li a:hover{
    background: #22B8F0 !important;
    color: #ffffff !important;
}

.nav-tabs li.active a:hover,
.nav-tabs li.active a{
    background: #22B8F0 !important;
    color: #ffffff !important;
}

.nav-tabs li{
    display: block;
}
.nav-tabs{
    margin:0 !important;
    width: 200px;
}

.wpeden-theme-options .row-fluid{
    max-width: 100%;
}
.tab-content{
    overflow: visible;
}
.table td,
.table th,
.table tr{
    border: 0 !important;
}
.table th{
    width: 150px;
    text-align: right !important;
    font-weight: 400 !important;
    font-family: 'Open Sans';
    font-size: 9pt;
    padding-top: 12px !important;
}
.wpeden-theme-opt-form .table tbody tr td{
    padding: 10px 0 10px 40px;
}
.wpeden-theme-options textarea,.wpeden-theme-options .btn,.wpeden-theme-options .add-on,.wpeden-theme-options .colorpicker,.wpeden-theme-options .chzn-container, .wpeden-theme-options .chzn-container *,
.wpeden-theme-options input[type=text]{
    border-radius: 0 !important;
    font-family: 'Open Sans';
}

.btn,
.chzn-single, .chzn-single div{
    /*background-image: none !important;*/
    text-decoration: none !important;
}
.chzn-single div{
    /*background: #f5f5f5 !important;*/
}

.tab-pane{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.sub-nav .nav-pills{
    margin: 0 !important;
    padding-top: 15px !important;
}
.nav-pills li{
    padding: 0 !important;
    border-right:1px solid #2E363F ;
    border-top:1px solid #2E363F ;
    border-bottom:1px solid #252A30;
}

.nav-pills li a{
    border-radius: 0 !important;
    background: #056E98 !important;
    border: 1px solid #155b78;
    margin: 0 !important;
    border-right: 0 !important;
    border-left: 1px solid #087EAD;
    border-top: 1px solid #087EAD;
}

.nav-pills li:last-child{
    border-right:1px solid #2E363F ;
}
.tooltip *,
.tooltip{
    font-weight: 700;
    letter-spacing: 0.6px;
    width: auto;
    white-space: nowrap;
    z-index: 999999999;
    border-radius: 0 !important;
}

.g{
    display: block;
}
.h,.t,.p,.m{
    display: none;
}
.table h3{
    font-size: 10pt;
    margin: 0;
    font-family: Montserrat;
}

.xbtn {
    margin-top: -80px;float: right;margin-right: -40px;position: relative;z-index: 10;
    border-radius: 0;
}
.xbtn .btn{
    font-family: 'Montserrat' !important;
    font-weight: 700;
    letter-spacing: normal !important;
    border-radius: 0 !important;
}
.xbtn .btn-submit{
    border: 0 !important;
    background: rgba(0,0,0,0.1) !important;
    height: 55px;
    color: #ffffff;
    font-size: 10pt;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    outline: none !important;
    box-shadow: none;
    padding-left: 25px;
    padding-right: 25px;
}
.xbtn .btn-submit:hover{
    background: rgba(0,0,0,0.07) !important;
    color: #ffffff;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.xbtn .btn-submit:active{
    background: rgba(0,0,0,0.2) !important;
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    outline: none !important;
}

.btn-submit {
    color: #ffffff !important;
    text-shadow: none !important;
}

.btn-submit .icon{
    margin-top:3px !important;
    font-size:14pt;
    margin-right:5px;
}

@keyframes spin {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}

.btn-submit .icon-repeat:hover {
    animation-name: spin;
    -moz-animation:spinoff .5s infinite linear;
    -webkit-animation:spinoff .5s infinite linear;
}

.growlUI {
    border-radius: 5px;
    padding: 10px;
    top:60px
}
.growlUI *{
    text-align: left !important;
    line-height: normal !important;
    padding: 5px;
    margin: 0 !important;
}
.icon-section{
    margin-top: 5px !important;
}
#dialog #poststuff{
    min-width: 300px !important;
}
.post-sharing li{
    float: left;
    width: 20%;
}

.input-small{
    width:100px !important;
}

.wp-picker-input-wrap,
.wp-picker-holder{
    position: absolute;
    z-index: 999;
}
.wp-picker-container a.wp-color-result:after{
    line-height: 25px;
}
.wp-picker-container a.wp-color-result{
    font-size: 10px !important;
    overflow: hidden;
    height: 26px;
    border-radius: 3px !important;
}
.wp-color-result{
    padding-left: 50px;
}

.wpeden-theme-options .chzn-container-single .chzn-single,
.wpeden-theme-options input[type=text], .wpeden-theme-options textarea, .wpeden-theme-options .btn{
    border-radius: 3px !important;
}
.wpeden-theme-options .chzn-container-single .chzn-single-with-drop{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.btn-group .btn,
.input-append input[type=text]{
    margin-right: 4px !important;
}
.wpeden-theme-options input[type=text]:focus, .wpeden-theme-options textarea:focus{
    border-color: #33B9EA !important;
}

.wpeden-theme-options .note {
    color: #888;
    font-size: 9pt;
    font-style: italic;
}

.wpeden-theme-options .chzn-container *{
    font-size: 12px !important;
}
.wpeden-theme-options .updated{ display: none !important; }

#modules li a:focus,
#modules li a:active,
#modules li a{
    outline: none !important;
    box-shadow: none !important;
}
.chzn-drop{ z-index: 999999999 !important; }

#wpadminbar #wp-admin-bar-wpeden-themeopts{
    margin: 0 10px !important;
    background: #1881AA !important;
}
#wpadminbar #wp-admin-bar-wpeden-themeopts:hover{
    margin: 0 10px !important;
    background: #046E98 !important;
}
#wpadminbar #wp-admin-bar-wpeden-themeopts a{
    padding-left: 13px !important;
    padding-right: 13px !important;
}

.xbtn .btn{ border-radius: 0 !important; }
.blockUI *{
    color:  #ffffff !important;
}
.wpeden-theme-options .table{ margin-bottom: 0 !important; }
form#theme-admin-form-wpeden_custom_js th{ display: none; }
form#theme-admin-form-wpeden_custom_js textarea{ resize:vertical;height: 500px;font-family: 'courier new'; }


#field-group-layout-type,
#field-group-nav-header-style,
#field-group-page-header-style,
#field-group-link-color-a,
#field-group-link-hover-color-ahover,
#field-group-menu-hover-color,
#field-group-color-scheme,
#field-group-main-nav-background,
#field-group-main-nav-color
{
    width: 33%;
    float: left;
}

#field-group-page-header-style:after{
    display: block;
    clear: both;
    content: " ";
}
.form-group input[type=checkbox]{
    margin: 0;
}
.form-group label{
    display: block;
    clear: both;
}
.form-group li label{
    font-weight: 400;
}

#custom-sidebars .panel-default{
    border-radius: 3px;
}
#custom-sidebars .panel-default.clspd{
    overflow: hidden;
}

#custom-sidebars .panel-default .panel-heading{
    position: relative;
}
#custom-sidebars .panel-default .panel-heading a:after{
    font-family: 'linecons';
    content: "\e648";
    position: absolute;
    right: 15px;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

#custom-sidebars .panel-default.clspd .panel-heading a:after{
    /*content: "\e64b";*/
    transform: rotate(180deg);
}
#home-tabbed-section .panel-heading a{
    display: inline !important;
    clear: none;
    text-decoration: underline;
}

/** sidebars **/

#layout-icons .no-sidebar {
    height: 70px;
    width: 80px;
    border: 1px dashed rgba(0,0,0,0.2);
    margin-left: 10px;
    position: relative;
    display: inline-block;

}

#layout-icons .left-sidebar {
    height: 70px;
    width: 60px;
    border: 1px dashed rgba(0,0,0,0.2);
    margin-left: 35px;
    position: relative;
    display: inline-block;
    margin-top: 0 !important;

}
#layout-icons .left-sidebar:before {
    position: absolute;
    width: 20px;
    height: 70px;
    left: -26px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}
#layout-icons .right-sidebar {
    height: 70px;
    width: 60px;
    border: 1px dashed rgba(0,0,0,0.2);
    margin-left: 10px;
    margin-right: 25px;
    position: relative;
    display: inline-block;

}
#layout-icons .right-sidebar:after {
    position: absolute;
    width: 20px;
    height: 70px;
    right: -26px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}
#layout-icons .left-sidebar-2 {
    height: 70px;
    width: 40px;
    border: 1px dashed rgba(0,0,0,0.2);
    margin-left: 50px;
    position: relative;
    display: inline-block;

}
#layout-icons .left-sidebar-2:before {
    position: absolute;
    width: 15px;
    height: 70px;
    left: -40px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}
#layout-icons .left-sidebar-2:after {
    position: absolute;
    width: 15px;
    height: 70px;
    left: -21px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}
#layout-icons .right-sidebar-2 {
    height: 70px;
    width: 40px;
    border: 1px dashed rgba(0,0,0,0.2);
    margin-left: 10px;
    margin-right: 40px;
    position: relative;
    display: inline-block;

}
#layout-icons .right-sidebar-2:before {
    position: absolute;
    width: 15px;
    height: 70px;
    right: -40px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}
#layout-icons .right-sidebar-2:after {
    position: absolute;
    width: 15px;
    height: 70px;
    right: -21px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}
#layout-icons .sidebar-2 {
    height: 70px;
    width: 40px;
    border: 1px dashed rgba(0,0,0,0.2);
    margin-left: 30px;
    margin-right: 20px;
    position: relative;
    display: inline-block;

}
#layout-icons .sidebar-2:before {
    position: absolute;
    width: 15px;
    height: 70px;
    left: -21px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}
#layout-icons .sidebar-2:after {
    position: absolute;
    width: 15px;
    height: 70px;
    right: -21px;
    margin-top: -1px;
    border: 1px solid #37BEF0;
    background:#37BEF0;
    content: "";
}

#layout-icons label{
    padding: 8px 8px 1px 0;
    border: 1px solid rgba(0,0,0,0.02);
    background: rgba(0,0,0,0.03);
    margin-right: 1px;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    opacity: 0.7;
}

#layout-icons label:hover:not(.active){
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    opacity: 1;
}

#layout-icons label.active{
    border: 1px solid #53cdba;
    box-shadow: 0 0 2px rgba(83, 205, 186, 0.74);
    opacity: 1;
}